@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a { 
  display: inline-block;
  text-decoration: none; 
}

li {
  display: inline-block;
  list-style-type: none;
}

/*for wrapper*/
.wrapper {
  max-width: 1360px;
  width: 86%; 
  margin: 0 auto;
}
/*=================================
  Header styling starts here
=================================*/
.upper_header{ background-color: #383e43; }
.logo a{ text-indent: -9999px; }
.logo img{ height: 100%; }
.left_nav,.right_nav{ margin-top: 20px; }
.navigation a:hover{ color: #e8e861; }

.logo{ 
  display: flex;
  float: left; 
}
.navigation{
  display: flex;
  justify-content: space-between;
}

.navigation a{
  padding: 0px 20px;
  color: #b7b6b6;
  font-size: 20px;
  text-transform: capitalize;   
}

.topics_dropdown a:after,.more_dropdown a:after,.login a:last-child:after{
  content:" \f107";
  font-family: FontAwesome;
}

.search form:before{
  color:#b7b6b6;
  content:" \f002";
  font-family: FontAwesome; 
}

.search input[type="text"]{
  border: none;
  background-color: #383e43;
  color: #b7b6b6;
  font-size: medium;
  text-transform: capitalize; 
}
.login a:first-child:before{
  content:" \f007";
  font-family: FontAwesome;
}

.upper_header:after{
  content: "";
  clear: both;
  display: table;
}

/*===advertiesment section styling start===*/
.features a:hover{ color: #ff0000; }
.sponsor span{ margin-top: 45px; }

.advertisement .wrapper{
  display: flex;
  justify-content: space-between;
  padding:10px 0;
}

.features a{
  margin-top: 20px;
  color: black;  
  font-size: large;
  font-weight: bold;
  text-transform: uppercase;   
}

.features a:after{
  content:"  \f054";
  font-family: FontAwesome;
}

.sponsor{
  display: flex;
  color: #b7b6b6;
  font-size: medium;
  text-transform: capitalize;  
}

.sponsor img{
  border-left: 3px solid #7e3e97;
  margin-left: 10px;
}
/*===advertiesment section styling end===*/

/*=================================
  Header styling ends here
=================================*/  

/*=================================
  main styling starts here
=================================*/

/*===banner section start===*/
.links li{ padding: 10px 10px; }
/*.banner a{ text-indent: -9999px; }*/
.links a:hover,.content a:hover{ color:#e8e861; }

.banner{
  padding: 50px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: black;
  color: #fff;  
}

.links{
  display: inline-block;
  position: absolute;
  bottom: 30px;
  left: 20px;
}

.links a{
  padding: 10px;
  border: 2px solid #fff;
  border-radius: 100%;
  color:#fff;
}

.content{
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;  
}

.content h2{
  margin-bottom: 10px; 
  font-weight: bold;
  font-size: 50px;
  text-transform: capitalize; 
}
.content span{
  margin: 10px 0px 70px;
  display: block;
  font-size: 25px;
  text-transform: capitalize;   
}

.content a{
  position: absolute;
  bottom: 30px;
  font-size: 25px;
  color: #fff;
}

.banner_image{
  position: absolute;
  bottom: 30px; 
  right: 20px; 
}
/*===banner section end===*/

/*===clients section start===*/
.clients{
  padding: 100px 0px;
  background-color: #f5f5f5;
}

.clients .wrapper{
  display: flex;
  justify-content: space-around;
}
/*===clients section end===*/

/*===information article start===*/
.information{ padding-bottom: 50px; }
.information_two a:last-child{ float: right; }

.information h3{
  width: 70%;
  margin: 50px 0px 30px;
  font-size: 45px;
  font-weight: bold;
  text-transform: capitalize;
}

.information p{
  font-size: 20px;
  margin-bottom: 30px;
  max-width: 90%;
  color: #474444;
}

.button{
  padding: 20px 50px;
  border: 2px solid #92ebe6;
  border-radius: 30px;
  margin-top: 30px;
  color: black;
  font-size: medium;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center; 
}

.button:hover{
  background-color: #ff0000;
  color: #fff;
}

.information_one a:after,.information_two a:first-of-type:after{
  content:" \f067";
  font-family: FontAwesome;
}

.information_two a:last-child:after{
  content:" \f019";
  font-family: FontAwesome;
}
/*===information article end===*/

/*===articles article start===*/
.articles .heading{ display: flex; }
.article_one,.article_two{ padding: 20px 20px; }
.heading figure img{ margin-left: 30px; }
.articles img{ margin:15px 0px; }

.articles .wrapper{
  margin-bottom: 80px;
  padding: 25px 80px;
  display: flex;
  justify-content: space-around;
  background-color: #eeeeee;  
}

.heading span{
  margin-top: 40px;
  font-size: medium; 
  font-weight: bold;
  text-transform: capitalize; 
}

.heading img{
  border-left: 3px solid #7e3e97;
  margin-left: 60px;
} 

.article_content span{
  margin-bottom: 30px;
  display: block;
  color: #474444;
  font-size: 20px;
} 

.articles a:after{
  content:" \f054";
  font-family: FontAwesome;
}
/*===articles article end===*/

/*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/ 
footer a:hover{color: #e8e861;}
.block_one{width: 20%;}
.block_two{width: 70%;}

footer{
  padding: 30px 0px;
  border-top: 7px solid #ec190b;
  background-color: #121212;  
}

.footer_links{
  padding: 40px 0px;
  border-bottom: 2px solid #474444;
  display: flex; 
  justify-content: space-between;
}

.block_two,.block_three{
  padding-left: 20px;
  border-left:2px solid #474444; 
}

.block_one li,.block_three li{
  margin-bottom: 20px;
  display: block;  
}

.block_one a{
  color: #e7e1e1;
  font-size: 20px;
  text-transform: capitalize; 
}

.block_two li{
  margin-bottom: 20px;
  display: block;
  color: #a09c9c;
  font-size: medium; 
  font-weight: bold;
  text-transform: capitalize; 
}

.block_two a{
  padding-right: 25px;
  color: #fff;
  font-size: 15px;  
  /*text-indent: -9999px;*/
}

.block_three{
  width: 30%;
  display: flex;
  justify-content: space-between;
}
.block_three a{
  color: #a09c9c;
  font-size: 15px;
  text-transform: capitalize;  
}

.copyright{
  text-align: center;
  margin-top: 20px;
}

.copyright > p{
  color: #a09c9c;
  font-size: 20px;
}

.copyright p:last-child{
  color: #a09c9c;
  font-style: italic;
  font-size: 20px;  
}
 /*=================================
  footer styling ends here
=================================*/ 
