@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a { 
  display: inline-block;
  text-decoration: none; 
}

li {
  display: inline-block;
  list-style-type: none;
}

/*for wrapper*/
.wrapper {
  max-width: 1360px;
  width: 86%; 
  margin: 0 auto;
}
/*=================================
  Header styling starts here
=================================*/
header .navigation{background-color: rgb(61, 60, 60);}
.logo{float: left;}
.right_nav{
  float: right;
  margin-top: 40px;
}
.left_nav{
  float: left;
  margin-top: 40px;
}
header a{
  color: rgb(192, 189, 186);
  text-transform: capitalize;
  padding: 0px 20px 0px 20px;
  font-size: small;
}
.topics_dropdown a:after,.more_dropdown a:after,.login a:last-child:after{
  content:"\f107";
  font-family: FontAwesome;
}
.search form:before{
  content:"\f002";
  font-family: FontAwesome;
}
.search input[type="text"]{
  color: rgb(192, 189, 186);
  text-transform: capitalize;
  font-size: small;
  background-color: rgb(61, 60, 60);
  border: none;
}
.login a:first-child:before{
  content:"\f007";
  font-family: FontAwesome;
}
header .navigation a:hover{color: rgb(226, 223, 60);}
.search:hover{color: rgb(226, 223, 60);}
header .navigation:after{
  content:"";
  clear:both;
  display: table;
}


/*=================================
  Header styling ends here
=================================*/  



/*===advertiesment article start===*/
.advertisement{
  display: flex;
  justify-content: space-between;
  padding: 10px 0px 10px 0px;
}
.features a:after{
  content:"\f054";
  font-family: FontAwesome;
}
.features a{
  text-transform: uppercase;
  color: black;
  font-size: small;
  font-weight: bold;
  margin-top: 20px;
}
.features a:hover{color: #b11010;}
.sponsor{
  text-transform: capitalize;
  font-size: small;
  color: rgb(124, 122, 120);
  display: flex;
}
.sponsor span{margin-top: 45px;}
.sponsor figure{
  border-left: 2px solid #5b12d1;
  margin-left: 10px;
}
/*===advertiesment article end===*/

/*=================================
  main styling starts here
=================================*/

/*===banner section start===*/
.banner{
  background-color: black;
  color: #ffffff;
}
.banner .wrapper{
  display: flex;
  padding: 30px 0px 30px 0px;
  justify-content: space-between;
}
.links{padding: 20px 20px;}
.links a{
  color:#ffffff;
  border: 2px solid #ffffff;
  border-radius: 100%;
  padding: 10px;
  margin-top: 470px;
}
.links span{
  position: absolute;
  transform: translate(-900px,-900px);
}
.content{
  text-align: center;
  width: 50%;
}
.content h2{
  text-transform: capitalize;
  font-weight: bold;
  font-size: 50px;
  margin-bottom: 10px;
}
.content span{
  text-transform: capitalize;
  font-size: 20px;
  margin-bottom: 40px;
  margin-top: 10px;
  display: block;
}
.content a{color: #ffffff;}
.links a:hover,.content a:hover{color:rgb(226, 223, 60);}

.banner_image{margin-top: 350px;}
/*===banner section end===*/

/*===clients section start===*/
.clients{
  padding: 100px 0px 100px 0px;
  background-color: rgb(226, 222, 216);
}
.clients .wrapper{
  display: flex;
  justify-content: space-around;
}

/*===clients section end===*/

/*===information article start===*/
.information{
  margin-bottom: 50px;
}
.article_one,.article_two{padding: 30px 30px;}
.button{
  text-transform: uppercase;
  padding: 10px;
  border: 2px solid #92ebe6;
  border-radius: 20px;
  color: black;
  font-size: small;
  font-weight: bold;
  width: 170px;
  text-align: center;
  margin-top: 30px;
}
.button:hover{
  background-color: #b11010;
  color: #ffffff;
}
.information h3{
  text-transform: capitalize;
  font-size: 35px;
  font-weight: bold;
  width: 70%;
  margin-bottom: 30px;
  margin-top: 50px;
}
.information p{
  font-size: 15px;
  margin-bottom: 30px;
  max-width: 90%;
  color: #474444;
}
.article_one a:after,.article_two a:first-of-type:after{
  content:" \f067";
  font-family: FontAwesome;
}
.information .article_two a:last-child:after{
  content:" \f019";
  font-family: FontAwesome;
}
.information .article_two a:last-child{
  width: 20%;
  float: right;
}
/*===information article end===*/

/*===articles article start===*/
.articles{margin: 60px 0px 60px 0px;}
.articles .wrapper{
  background-color: rgb(226, 222, 216);
  display: flex;
  justify-content: space-around;
  padding: 50px 0px 50px 0px; 
}
.articles .heading{  display: flex;}
.heading span{
  font-size: small;
  margin-top: 40px;
}
.heading figure img{margin-left: 30px;}
.heading img{
  border-left: 2px solid #5b12d1;
  margin-left: 60px;
}
.articles span{
  text-transform: capitalize;
  font-weight: bold;
}
.articles img{
  margin:10px 0px 10px 0px;
}
.article_content span{
  font-size: 15px;
  color: #474444;
  display: block;
  font-size: small;
}

/*===articles article end===*/

/*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/ 
footer{
  background-color: rgb(37, 36, 36);
  border-top: 7px solid #b11010;
  padding: 30px 0px 30px 0px; 
}
footer a:hover{color: rgb(226, 223, 60);}
.footer_links{
  display: flex;
  border-bottom: 2px solid #474444;
  justify-content: space-between;
}
.block_two,.block_three{
  border-left:2px solid #474444;
  padding-left: 20px;
}

.block_one li,.block_three li{
  display: block;
  margin-bottom: 20px;
}
.block_one a{
  color: #e7e1e1;
  text-transform: capitalize;
}
.block_two li{
  display: block;
  color: #a09c9c;
  font-size: small;
  text-transform: capitalize;
  font-weight: bold;
  margin-bottom: 20px;
}

.block_two a{
  color: #ffffff;
  font-size: 15px;
  padding-right: 25px;
}
.block_two a span{
  position: absolute;
  transform: translate(-900px,-900px);
}
.block_three a{
  font-size: small;
  text-transform: capitalize;
  color: #a09c9c;
}

.copyright{
  text-align: center;
  margin-top: 20px;
}
.copyright > p{color: #a09c9c;}
.copyright p:last-child{
  font-style: italic;
  font-size: small;
  color: #a09c9c;
}


 /*=================================
  footer styling ends here
=================================*/ 
